{% extends "base.html" %} {% block content %}
<h1>Añadir entrada</h1>
<br />
<form action="{{ ingress_root }}/add" method="POST">
  <label for="code">Código (4 a 6 números del 1 al 9)</label>
  <input type="text" pattern="[1-9]{4,6}" name="code" id="code" required />
  <label for="valid_from">Entrada</label>
  <input type="datetime-local" name="valid_from" id="valid_from" required />
  <label for="valid_upto">Salida</label>
  <input type="datetime-local" name="valid_upto" id="valid_upto" required />
  <label for="description">Descripción (Max 60 car)</label>
  <input type="text" pattern=".{0,60}" name="description" id="description" />
  <input class="button" type="submit" value="Añadir" />
</form>
<br />
<div class="foot"><a href="{{ ingress_root }}/">Volver</a></div>
{% endblock %}
