<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HikAccess</title>
    <link
      rel="stylesheet"
      href="{{ ingressRoot + url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <h1>Control de accesos</h1>
    <br />
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Código</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        {% if entries.__len__() == 0 %}
        <tr>
          <td colspan="6" style="text-align: center">No hay entradas</td>
        </tr>
        {% endif %} {% for entry in entries %}
        <tr>
          <td>{{ entry.id }}</td>
          <td>{{ entry.code }}</td>
          <td>{{ entry.validFrom }}</td>
          <td>{{ entry.validUpTo }}</td>
          <td>{{ entry.description }}</td>
          <td>
            <a href="{{ ingressRoot }}/delete/{{ entry.id }}">Borrar</a>
            <a href="{{ ingressRoot }}/edit/{{ entry.id }}">Editar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
    <a href="{{ ingressRoot }}/add">Añadir</a>
  </body>
</html>
