{% extends "base.html" %} {% block content %}
<h1>Entradas</h1>
{% if codes.__len__() == 0 %}
<p>No se han podido cargar los codigos</p>
{% else %}
<table>
  <thead>
    <tr>
      <th>Slot</th>
      <th>Descripción</th>
      <th>Activo</th>
      <th colspan="2">Opciones</th>
    </tr>
  </thead>
  <tbody>
    {% for code in codes %}
    <tr>
      <td>{{ code.slot_number }}</td>
      <td>{{ code.description }}</td>
      <td>{{ code.configured }}</td>
      <td>
        <a href="{{ ingress_root }}/edit_code/{{ code.slot_number }}">Editar</a>
      </td>
      <td>
        <a href="{{ ingress_root }}/delete_code/{{ code.slot_number }}"
          >Borrar</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<div class="foot"><a href="{{ ingress_root }}/">Volver</a></div>
{% endblock %}
